{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 8"
          ]
        },
        "useBuiltIns": true
      }
    ],
    "stage-0"
  ],
  "plugins": [
    "lodash",
    "transform-decorators-legacy",
    [
      "module-resolver",
      {
        "alias": {
          "@store$": "./src/store/index.js",
          "@store": "./src/store",
          "@utils$": "./src/utils/index.js",
          "@utils": "./src/utils"
        }
      }
    ]
  ]
}
