{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 8"
          ]
        }
      }
    ],
    "stage-0",
    "flow"
  ],
  "plugins": [
    "lodash",
    "transform-decorators-legacy",
    [
      "module-resolver",
      {
        "alias": {
          "@lib": "./src/lib/index.js",
          "@store": "./src/store/index.js",
          "@utils": "./src/utils/index.js"
        }
      }
    ]
  ],
  "env": {
    "production": {
      "presets": [
        "minify"
      ]
    }
  }
}
