{
  "extends": [
    "beansmile"
  ],
  "rules": {
    "pathname/match-name": [
      2,
      {
        "matchIndex": false
      }
    ]
  },
  "globals": {
    "process.env": true,
    "App": true,
    "wx": true,
    "wxp": true,
    "getApp": true,
    "Page": true,
    "Component": true,
    "getCurrentPages": true
  }
}
